<div>
  <label for="title">{{ __ "title" }}</label>
  <input required type="text" value="{{ article.title }}" name="title" id="title"></input>
</div>
<div>
  <label for="description">{{ __ "description" }}</label>
  <textarea type="text" name="description" id="description">{{ article.description }}</textarea>
</div>
<div>
  <label for="markdown">{{ __ "markdown" }}</label>
  <textarea type="text" name="markdown" id="markdown">{{ article.markdown }}</textarea>
</div>
<a href="/">{{ __ "cancel" }}</a>
<button type="submit">{{ __ "save" }}</button>
