<fieldset>
  <label for="status">{{ __ "status" }}</label>
  <select name="status" id="status">
    {{# select page.status }}
    <option value="draft">{{ __ "draft" }}</option>
    <option value="published">{{ __ "published" }}</option>
    {{/ select }}
  </select>
</fieldset>
<fieldset>
  <label for="url">{{ __ "url" }}</label>
  <input type="text" value="{{ page.url }}" name="url" id="url"></input>
</fieldset>
<fieldset>
  <label for="title">{{ __ "title" }}</label>
  <input type="text" value="{{ page.title }}" name="title" id="title"></input>
</fieldset>
<fieldset>
  <label for="markdown">{{ __ "markdown" }}</label>
  <textarea type="text" name="markdown" id="markdown">{{ page.markdown }}</textarea>
</fieldset>
<fieldset class="actions">
  <a href="/">{{ __ "cancel" }}</a>
  <button name="submit" type="submit">{{ __ "save" }}</button>
</fieldset>
