<section class="articles">
  <h1>{{ __ "categories" }}</h1>
  <ul>
    {{#each categories }}
    <li>
      {{#if (eq ../user.role "admin") }}<a class="edit" href="{{ this.url }}/edit">&#x270E</a>{{/if}}
      <a href="{{ this.url }}">
        <header>
          <h4>{{ this.name }}</h4>
          <div class="category">{{ this.count }}</div>
        </header>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
{{#if (neq env "production") }}
<pre class="debug">{{ json categories }}</pre>
{{/if }}
