<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="/css/fonts/fonts.css" rel="stylesheet">
  <link href="/css/default.css" rel="stylesheet">
</head>
<body>
  <nav class="main">
    <ul>
      {{#each sitemaps.content }}
      <li><a href="{{ this.url }}">{{ this.name }}</a></li>
      {{/each }}
      <li class="search">
        <form id="search">
          <input type="search" name="searchstr" placeholder="{{ __ "searchstr" }}">
          <button type="submit">{{ __ "search" }}</button>
        </form>
      </li>
    </ul>
  </nav>
  <nav class="admin">
    <ul>
      <li><a href="/articles/drafts">{{ __ "article drafts" }}</a></li>
      <li><a href="/articles/new">{{ __ "new article" }}</a></li>
      <li><a href="/pages/drafts">{{ __ "page drafts" }}</a></li>
      <li><a href="/pages/new">{{ __ "new page" }}</a></li>
      <li><a href="/sitemaps">{{ __ "edit sitemaps" }}</a></li>
      {{# if edit }}<li><a href="/{{ edit }}">{{__ "edit"}}</a></li>{{/if }}
    </ul>
  </nav>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
