<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="/css/default.css" rel="stylesheet">
</head>
<body>
  <ul>
    <li><a href="/">{{ __ "home" }}</a></li>
    <li><a href="/articles/drafts">{{ __ "article drafts" }}</a></li>
    <li><a href="/pages/drafts">{{ __ "page drafts" }}</a></li>
    <li><a href="/articles/new">{{ __ "new article" }}</a></li>
    <li><a href="/pages/new">{{ __ "new page" }}</a></li>
  </ul>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
