<h1>{{ __ "drafts" }}</h1>
<ul>
  {{#each articles}}
  <li>
    <a href="/articles/edit/{{ this._id }}">
      <header>
        <h4>{{ this.title }}</h4>
        <time datetime="{{formatDate this.createdAt showTime=true }}">{{formatDate this.createdAt}}</time>
      </header>
      <div class="description">{{ this.description }}</div>
    </a>

  </li>
  {{/each}}
</ul>
