<section class="edit">
  <pre class="debug">{{ json content }}</pre>
  <h1>{{__ "edit article"}}</h1>
  <form action="/articles/{{ content._id }}?_method=put" method="post">
    {{> articleForm }}
  </form>
  <form action="/articles/{{ content._id }}?_method=delete" method="post">
    <button name="delete" type="submit">{{ __ "delete" }}</button>
  <form>
</section>
