<h1>Blog articles</h1>
<a href="/articles/new">{{ __ "new article" }}</a>
<ul>
  {{#each articles}}
  <li>
    <h4><a href="/articles/{{ this.slug }}"">{{ this.title }}</a></h4>
    <div class="subtitle">{{formatDate this.createdAt}}</div>
    <div class="description">{{ this.description }}</div>

  </li>
  {{/each}}
</ul>
