<section class="articles">
<ul>
  {{#each contents}}
  <li>
    <a href="{{ this.url }}">
      <header>
        <h4>{{ this.title }}</h4>
        <time datetime="{{ formatDate this.createdAt showTime=true }}">{{formatDate this.createdAt}}</time>
      </header>
      <div class="description">{{ this.description }}</div>
    </a>
  </li>
  {{/each}}
</section>
