<section class="articles">
  <h1>{{ __ "page drafts" }}</h1>
  <ul>
    {{#each contents}}
    <li>
      <a href="{{ this.url }}/edit">
        <header>
          <h4>{{#if this.title }} {{ this.title}} {{else}} index {{/if }}</h4>
          <time datetime="{{ formatDate this.createdAt showTime=true }}">{{ formatDate this.createdAt}}</time>
        </header>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
