<section class="edit">
  <h1>{{__ "edit page"}}</h1>
  <form action="/pages/{{ content._id }}?_method=put" method="post">
    {{> pageForm }}
  </form>
  <form action="/pages/{{ content._id }}?_method=delete" method="post">
    <button name="delete" type="submit">{{ __ "delete" }}</button>
  </form>
</section>
{{> showAttachments }}
{{#if (neq env "production") }}
<pre class="debug">{{ json content }}</pre>
{{/if }}
