<article class="page">
  {{#if (eq content.status "draft")}}
  <div class="draftwarning">DRAFT</div>
  {{/if}}
  {{#if content.title }}
  <header>
    <h1>{{ content.title }}</h1>
    <time datetime="{{ formatDate content.createdAt showTime=true }}">{{ formatDate content.createdAt }}</time>
  </header>
  {{/if }}
  <div>{{{ content.sanitizedHtml }}}</div>
</article>
{{#if (neq env "production") }}
<pre class="debug">{{ json content }}</pre>
{{/if }}
