<article class="page">
  {{#if content.title }}
  <header>
    <h1>{{ content.title }}</h1>
    <time datetime="{{ formatDate content.createdAt showTime=true }}">{{ formatDate content.createdAt }}</time>
  </header>
  {{/if }}
  <div>{{{ content.sanitizedHtml }}}</div>
</article>
<pre class="debug">{{ json content }}</pre>
