<article class="article">
  {{#if (eq content.status "draft")}}
  <div class="warning">DRAFT</div>
  {{/if}}
  <header>
    <h1>{{ content.title }}</h1>
    <time class="createdAt" datetime="{{ formatDate content.updatedAt showTime=true }}">
      {{#if (eq formatDate content.createdAt formatDate content.updatedAt) }}
      {{else }}
      last update {{ formatDate content.updatedAt }} ({{/if }}created {{ formatDate content.createdAt }})
    </time>
  </header>
  <div>{{{ content.sanitizedHtml }}}</div>
</article>
{{#if (neq env "production") }}
<pre class="debug">{{ json content }}</pre>
{{/if }}
