<fieldset>
  <label for="title">{{ __ "title" }}</label>
  <input required type="text" value="{{ content.title }}" name="title" id="title">
</fieldset>
<fieldset>
  <label for="status">{{ __ "status" }}</label>
  <select name="status" id="status">
    {{# select content.status }}
    <option value="draft">{{ __ "draft" }}</option>
    <option value="published">{{ __ "published" }}</option>
    {{/ select }}
  </select>
</fieldset>
<fieldset>
  <label for="category">{{ __ "category" }}</label>
  <select name="category" id="category">
    <option value=""></option>
    {{# select content.category }}
    {{#each categories }}
    <option value="{{ this._id }}">{{ this.name }}</option>
    {{/each }}
    {{/ select }}
  </select>
</fieldset>
<fieldset>
  <label for="markdown">{{ __ "markdown" }}</label>
  <textarea type="text" name="markdown" id="markdown">{{ content.markdown }}</textarea>
</fieldset>
<fieldset class="actions">
  <a href="/">{{ __ "cancel" }}</a>
  <button name="submit" type="submit">{{ __ "save" }}</button>
</fieldset>
