<section class="attachments edit">
  <ul>
    {{#each content.attachments }}
    <li>
      <figure>
        <div>
          {{#if (eq (fileType this.mimeType) "image") }}
          <img src="/attachments/thumbnail/{{ this.name }}">
          {{/if}}
        </div>
        <figcaption>{{ this.name }}</figcaption>
      </figure>
    </li>
    {{/each }}
  </ul>
  <form action="/attachments/{{ content._id }}" enctype="multipart/form-data" method="post">
    <fieldset>
      <label for="files">{{ __ "files" }}</label>
      <input id="files" name="files" type="file" accept="image/*, application/pdf" multiple>
      <button name="submit" type="submit">{{ __ "upload" }}</button>
    </fieldset>
  </form>
</section>
